@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

body{
    background: linear-gradient(180deg, rgba(217, 163, 211, 0.5) 0%, #FFFFFF 100%), #ffffff;;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Khyay', sans-serif;
}

.card{
    flex-direction: row;
    margin: 15px;
    margin-left: 0px;
    border-radius: 15px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card img{
    height: 100px;
}

h1{
    margin: 20px
}

.card-verde{
    background-color: #BFF9B0;
    border: solid 3px #21A401;
}

.navbar{
    bottom: 0px;
    position: fixed;
    background: white;
    box-shadow: 4px 0px 0px rgba(0, 0, 0, 0.25);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:  #D0004B;
    font-size: 14px;
}

label{
    font-family: 'Roboto', sans-serif;
    color: #D0004B;
    margin:10px;
}

.form-group{
    background-color: white;
    border-radius: 15px;
    margin:10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-group input{
    border: 0px;
    border-radius: 15px;
}

.loadingFalse{
    display: none;
}