html{
    height: 100%;
}

body {
        background-color: #D9A3D3;  
        background-image: url('../../assets/Ellipse\ 1.png'),  url('../../assets/Ellipse\ 2.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position-y: bottom, top;
        background-position-x: left, right;
        text-align: center;
        color: white;
        font-size: 20px;
}

h1{
    margin-top: 50px;
}

.btn-cadastrar{
    color: #D0004B;
}

.btn-primary:hover{
    background-color: #8e0537;
    border-color: #8e0537;
}

#icon-principal{
    margin-top: 30px;
}

#icon-apple{
    height: 100%;
}

.btn-primary{
    background-color: #D0004B;
    border-color: #D0004B;
    color: white;
    border-radius: 30px;
    margin: 5px;
}

section{
    margin-top: 33px;
    margin-bottom: 50px;
}

footer{
    margin-bottom: 50px;
}

.card img{
    padding: 10px;
    width: 100%;
}

.card{
    color: #D0004B;
    border-radius: 15px;
}

.card h5{
    font-size: 16px;
    font-weight: bold;
}

#conteudo-card{
    padding: 0;
}

input{
    margin:10px
}

label{
    color: #D0004B;
    margin:10px;
    font-weight: bold;
}

.g-signin2{
    margin-left: 10px;
}



